<% cache [objective] do %>
  <div class="objective" style="margin-left: <%= 50 * objective.level %>px">
    <p class="objective__title"><%= objective.title %></p>
    <p>level <%= objective.level %></p>
    <p>
      progress:
      <%= objective.progress_value %>
      /
      <%= objective.progress_target %><%= objective.progress_unit %>
    </p>
    <% unless objective.leaf? %>
      <p>
        children progress:
        <%= (objective.children_progress * 100).to_i %>
        %
      </p>
    <% end %>
  </div>
<% end %>
